* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin';
}

body {
   /*background-color: #183C58;*/
   background-image: url('./assets/background.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
}

.title h1 {
    font-family: 'La Belle Aurore', cursive;
    font-size: 12rem;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

/* .title h3 {
    font-size: 4rem;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center; 
    margin: -7rem

} */

.navbar {
    width: 100%;
    /* background-color: #183C58; */
    /* margin: 8rem; */
    text-align: center;
    margin: -105px 0 0 0;
    position: relative;
}

.navbar p {
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-card {
    background-color: #183C58;
    color: white;
    width: 85%;
    font-size: 2rem;
    position: relative;
    padding: 10px;
    border-radius: .5rem;
}

.side-nav h2{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    margin-inline: -5em;
    
}